/*
 ==============
 blacks & Greys
 ==============
*/

$black:						rgba(0,0,0,1);
$darkGrey:					rgba(0,0,0,0.8);
$grey:						rgba(0,0,0,0.4);
$lightGrey:					rgba(0,0,0,0.2);
$lighterGrey:				rgba(0,0,0,0.15);
$lightestGrey:				rgba(0,0,0,0.1);


/*
 ==============
 Theme Colors
 ==============
*/

$primaryColor:				rgba(0,0,0,1);
$secondaryColor:			rgba(0,0,0,0.7);
$accentColor:				rgba(0,0,0,0.4);
$highlightColor:			rgba(0,0,0,0.3);
$linkColor:					rgba(0,0,0,0.2);
$linkHoverColor:			rgba(0,0,0,0.1);


/*
 ==============
 Borders & Lines
 ==============
*/

$borderColor:				$lighterGrey;

/*
 ==============
 Font
 ==============
*/

$baseFontSizeValue:			1;
$fontUnit:					rem;
$baseLineHeight:			1.45;

$sansSerif:					"Roboto", Helvetica, sans-serif;
$serif:						"Lora", serif;
$slab:						"Roboto Slab", Georgia, serif;

$bodyFont:					$sansSerif;
$headingFont:				$serif;
$slabFont:					$slab;

$baseFontSize:				$baseFontSizeValue+$fontUnit;

$textColor:					$darkGrey;


/*
 ==============
 Font
 ==============
*/
